body {
    font-family: "Poppins", sans-serif !important;
    padding: 0;
    margin: 0;
    background-color: var(--base) !important;
    overflow-x: hidden;
    --base: #313131;
    --white: #fff;
    --black: #414141;
    --principal: #29A19C;
    --animation: all linear 0.2s;
}

.animate-fading{animation:fading 1s linear both}@keyframes fading{0%{opacity:0}50%{opacity:0.5}100%{opacity:1}}
.animate-opacity{animation:opac 1s}@keyframes opac{from{opacity:0} to{opacity:1}}
.animate-top{position:relative;animation:animatetop 1s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 1s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 1s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 1s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

::-webkit-scrollbar {
    width: 0px;
}

.inputGroup {
    margin: auto;
    width: 98%;
    margin-top: 40px;
    label {
        width: 100%;
        margin-bottom: 20px;
    }
    .title {
        font-size: 12px;
        color: white;
    }
    .input {
        border-radius: 22px;
        font-size: 12px;
        padding: 10px;
        width: 100%;
        margin-top: 10px;
        border: solid 0;
        background-color: var(--base);
        color: var(--white);
    }
}

.swal2-icon {
    scale: 0.8;
}

.swal2-html-container {
    font-size: 12px !important;
}

.swal2-styled.swal2-confirm {
    background-color: var(--principal) !important;
    font-size: 12px !important;
}

.swal2-cancel {
    font-size: 12px !important;
}

.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}